<%- layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="stylesheets/register.css">
<div class="container d-flex justify-content-center align-items-center mt-5 row">

    <div class="col-md-7 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-body">
                <h5 class="card-title mb-4">Login</h5>
                <form action="/login" class="needs-validation" novalidate method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" autofocus required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <button class="btn mt-2 btn-success w-100">Login</button>
                </form>
            </div>
        </div>
        <div> <a class="btn btn-md btn-google btn-block btn-outline " href="/auth/google"><img
                    src="https://img.icons8.com/color/16/000000/google-logo.png"> Login Using
                Google</a></div>

        <br>
        <p class="text-center">Don't have an account? <a href="/register">Sign up</a></p>
    </div>
</div>