<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
    <h1 class="text-center">New Museum</h1>
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form action="/museums" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="museum[title]" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" id="location" name="museum[location]" class="form-control" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Ticket Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="ticket-label">&#x20B9;</span>
                            <input type="number" class="form-control" id="price" placeholder="0" aria-label="Username"
                                aria-describedby="ticket-label" name="museum[ticket]" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="museum[description]" required></textarea>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image(s)</label>
                        <input type="file" id="image" name="image" class="form-control" multiple>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success w-100">Add Museum</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="text-center">
            <a href="/museums">Back to Home</a>
        </div>
    </div>

</div>